<p></p>
<div>
<%= link_to "[ Edit ]", edit_idea_path(@idea) %>
<%= link_to "[ Delete ]", idea_path(@idea), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<h1><%= @idea.title %></h1>
<h3><%= @idea.content %></h3>


<%= form_for [@idea, Comment.new], remote: true do |f| %>
	
	<div>
		<%= f.text_area :content, placeholder: "Comment here", id: "content" %>
	</div>
		<%= f.submit 'Submit' %>

<% end %>

<div id='comment-list'>
<% @idea.comments.reverse.each do |comment| %>
  <p><%= comment.content %></p>
<% end %>
</div>