<!DOCTYPE html>
<html>
  <head>
    <title>IdeaTic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
  <% if logged_in? %>
    <p><%= link_to "[ Home ]", root_path %></p>
  <% end %>
    	<div id="container">
    		<div id="user_header">
    		<% if current_user %>
    			<p>Welcome <%= current_user.username %></p>
          <p><%= link_to "My Profile", user_path(current_user) %></p>
    			<p><%= link_to "Log Out", logout_path %></p>
    		<% end %>
    		</div>

    		<% flash.each do |name, msg| %>
    			<%= content_tag :div, msg, id: "flash_#{name}" %>
    		<% end %>

<% if logged_in? %>
  <div><%= form_tag(root_path, :method => "get") do %>

  <%= text_field_tag :title, params[:title], placeholder: "Title" %><br>

  </div>
  <%= submit_tag "Search Now", :name => nil %>
  <% end %>
<% end %>
  	


    <%= yield %>

    </div>
  </body>
</html>
